<h2>Users Page</h2>

@if(@ViewBag.Id is not null)
{
    <div>
        <span>Id: @ViewBag.Id</span>
    </div>
}

@if(@ViewBag.Name is not null)
{
    <div>
        <span>Name: @ViewBag.Name</span>
    </div>
}
